.button {
  cursor: pointer;
  border: none;
  margin-top: 25px;
  display: inline-block;
  background-color: #000;
  padding: 20px 50px;
}
.button span {
  color: #f8f200;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
