.header__items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 160px);
}
header {
  transition: 0.5s;
  padding: 20px 0;
  height: calc(100vh - 140px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and(max-width: 550px) {
  .header__items {
    height: calc(100vh - 100px);
  }
}
