.socials {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.logo {
  width: 30px;
  height: 30px;
}
@media screen and(max-width: 550px) {
  .logo img {
    width: 25px;
    height: 25px;
  }
}
@media screen and(max-width: 450px) {
  .socials {
    column-gap: 20px;
  }
}
